<body>
  <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this book from being saved:
        <% @book.errors.full_messages.each do |message| %>
         <%= message %>
        <% end %>
    <% end %>
  <div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-md-3" style="background-color: white;">
     <%= render 'users/info', user: @user %>
     <%= render 'books/form', book: @book %>
    </div>


 <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table">
          <thead>
           <tr>
             <th></th>
             <th>Title</th>
             <th>Opinion</th>
             <th></th>
           </tr>
         </thead>
        <tbody>

        <% @books.each do |book| %>
         <tr>
          <td><%= link_to user_path(book.user) do %>
           <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
           <% end %>
           </td>
          <td><%= link_to book_path(book.id) do %>
           <%= book.title %><% end %></td>
          <td><%= book.body %></td>

           <td id="favorite-btn_<%= book.id %>">
             <%= render partial: 'favorites/favorite-btn', locals: { book: book} %>
           </td>

          <td>コメント数：<%= book.book_comments.count %></td>

          <td>
          <div class="star-group">
            <div class="detail-review">評価</div>
            <div class="detail-value", id="star1-<%= book.id %>">
          </div>
           <script>
           $('#star1-<%= book.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= book.rate %>,
           });
          </script>
          <%= book.rate %>
          </td>

          <td>
          <div class="star-group">
            <div class="detail-review">評価</div>
            <div class="detail-value", id="star2-<%= book.id %>">
          </div>
           <script>
           $('#star2-<%= book.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= book.impressed %>,
           });
          </script>
          <%= book.impressed %>
          </td>


        </tr>
       <% end %>
      </tbody>
      </table>
     </div>
   </div>
 </div>
</body>




